page {
  background-color: #f8f8f8;
  height: 100%;
}
.collapse {
  visibility: collapse;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.order-1 {
  order: 1;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-first {
  order: -9999;
}

.order-last {
  order: 9999;
}

.order-none {
  order: 0;
}

.col-auto {
  grid-column: auto;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-10 {
  grid-column: span 10 / span 10;
}

.col-span-11 {
  grid-column: span 11 / span 11;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-5 {
  grid-column: span 5 / span 5;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

.col-span-7 {
  grid-column: span 7 / span 7;
}

.col-span-8 {
  grid-column: span 8 / span 8;
}

.col-span-9 {
  grid-column: span 9 / span 9;
}

.col-span-full {
  grid-column: 1 / -1;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-start-10 {
  grid-column-start: 10;
}

.col-start-11 {
  grid-column-start: 11;
}

.col-start-12 {
  grid-column-start: 12;
}

.col-start-13 {
  grid-column-start: 13;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-start-4 {
  grid-column-start: 4;
}

.col-start-5 {
  grid-column-start: 5;
}

.col-start-6 {
  grid-column-start: 6;
}

.col-start-7 {
  grid-column-start: 7;
}

.col-start-8 {
  grid-column-start: 8;
}

.col-start-9 {
  grid-column-start: 9;
}

.col-start-auto {
  grid-column-start: auto;
}

.col-end-1 {
  grid-column-end: 1;
}

.col-end-10 {
  grid-column-end: 10;
}

.col-end-11 {
  grid-column-end: 11;
}

.col-end-12 {
  grid-column-end: 12;
}

.col-end-13 {
  grid-column-end: 13;
}

.col-end-2 {
  grid-column-end: 2;
}

.col-end-3 {
  grid-column-end: 3;
}

.col-end-4 {
  grid-column-end: 4;
}

.col-end-5 {
  grid-column-end: 5;
}

.col-end-6 {
  grid-column-end: 6;
}

.col-end-7 {
  grid-column-end: 7;
}

.col-end-8 {
  grid-column-end: 8;
}

.col-end-9 {
  grid-column-end: 9;
}

.col-end-auto {
  grid-column-end: auto;
}

.row-auto {
  grid-row: auto;
}

.row-span-1 {
  grid-row: span 1 / span 1;
}

.row-span-10 {
  grid-row: span 10 / span 10;
}

.row-span-11 {
  grid-row: span 11 / span 11;
}

.row-span-12 {
  grid-row: span 12 / span 12;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.row-span-3 {
  grid-row: span 3 / span 3;
}

.row-span-4 {
  grid-row: span 4 / span 4;
}

.row-span-5 {
  grid-row: span 5 / span 5;
}

.row-span-6 {
  grid-row: span 6 / span 6;
}

.row-span-7 {
  grid-row: span 7 / span 7;
}

.row-span-8 {
  grid-row: span 8 / span 8;
}

.row-span-9 {
  grid-row: span 9 / span 9;
}

.row-span-full {
  grid-row: 1 / -1;
}

.row-start-1 {
  grid-row-start: 1;
}

.row-start-10 {
  grid-row-start: 10;
}

.row-start-11 {
  grid-row-start: 11;
}

.row-start-12 {
  grid-row-start: 12;
}

.row-start-13 {
  grid-row-start: 13;
}

.row-start-2 {
  grid-row-start: 2;
}

.row-start-3 {
  grid-row-start: 3;
}

.row-start-4 {
  grid-row-start: 4;
}

.row-start-5 {
  grid-row-start: 5;
}

.row-start-6 {
  grid-row-start: 6;
}

.row-start-7 {
  grid-row-start: 7;
}

.row-start-8 {
  grid-row-start: 8;
}

.row-start-9 {
  grid-row-start: 9;
}

.row-start-auto {
  grid-row-start: auto;
}

.row-end-1 {
  grid-row-end: 1;
}

.row-end-10 {
  grid-row-end: 10;
}

.row-end-11 {
  grid-row-end: 11;
}

.row-end-12 {
  grid-row-end: 12;
}

.row-end-13 {
  grid-row-end: 13;
}

.row-end-2 {
  grid-row-end: 2;
}

.row-end-3 {
  grid-row-end: 3;
}

.row-end-4 {
  grid-row-end: 4;
}

.row-end-5 {
  grid-row-end: 5;
}

.row-end-6 {
  grid-row-end: 6;
}

.row-end-7 {
  grid-row-end: 7;
}

.row-end-8 {
  grid-row-end: 8;
}

.row-end-9 {
  grid-row-end: 9;
}

.row-end-auto {
  grid-row-end: auto;
}

.m-0 {
  margin: 0rpx;
}

.m-10 {
  margin: 10rpx;
}

.m-12 {
  margin: 12rpx;
}

.m-14 {
  margin: 14rpx;
}

.m-16 {
  margin: 16rpx;
}

.m-18 {
  margin: 18rpx;
}

.m-2 {
  margin: 2rpx;
}

.m-20 {
  margin: 20rpx;
}

.m-22 {
  margin: 22rpx;
}

.m-24 {
  margin: 24rpx;
}

.m-26 {
  margin: 26rpx;
}

.m-28 {
  margin: 28rpx;
}

.m-30 {
  margin: 30rpx;
}

.m-32 {
  margin: 32rpx;
}

.m-34 {
  margin: 34rpx;
}

.m-36 {
  margin: 36rpx;
}

.m-38 {
  margin: 38rpx;
}

.m-4 {
  margin: 4rpx;
}

.m-40 {
  margin: 40rpx;
}

.m-6 {
  margin: 6rpx;
}

.m-8 {
  margin: 8rpx;
}

.mx-0 {
  margin-left: 0rpx;
  margin-right: 0rpx;
}

.mx-10 {
  margin-left: 10rpx;
  margin-right: 10rpx;
}

.mx-12 {
  margin-left: 12rpx;
  margin-right: 12rpx;
}

.mx-14 {
  margin-left: 14rpx;
  margin-right: 14rpx;
}

.mx-16 {
  margin-left: 16rpx;
  margin-right: 16rpx;
}

.mx-18 {
  margin-left: 18rpx;
  margin-right: 18rpx;
}

.mx-2 {
  margin-left: 2rpx;
  margin-right: 2rpx;
}

.mx-20 {
  margin-left: 20rpx;
  margin-right: 20rpx;
}

.mx-22 {
  margin-left: 22rpx;
  margin-right: 22rpx;
}

.mx-24 {
  margin-left: 24rpx;
  margin-right: 24rpx;
}

.mx-26 {
  margin-left: 26rpx;
  margin-right: 26rpx;
}

.mx-28 {
  margin-left: 28rpx;
  margin-right: 28rpx;
}

.mx-30 {
  margin-left: 30rpx;
  margin-right: 30rpx;
}

.mx-32 {
  margin-left: 32rpx;
  margin-right: 32rpx;
}

.mx-34 {
  margin-left: 34rpx;
  margin-right: 34rpx;
}

.mx-36 {
  margin-left: 36rpx;
  margin-right: 36rpx;
}

.mx-38 {
  margin-left: 38rpx;
  margin-right: 38rpx;
}

.mx-4 {
  margin-left: 4rpx;
  margin-right: 4rpx;
}

.mx-40 {
  margin-left: 40rpx;
  margin-right: 40rpx;
}

.mx-6 {
  margin-left: 6rpx;
  margin-right: 6rpx;
}

.mx-8 {
  margin-left: 8rpx;
  margin-right: 8rpx;
}

.my-0 {
  margin-top: 0rpx;
  margin-bottom: 0rpx;
}

.my-10 {
  margin-top: 10rpx;
  margin-bottom: 10rpx;
}

.my-12 {
  margin-top: 12rpx;
  margin-bottom: 12rpx;
}

.my-14 {
  margin-top: 14rpx;
  margin-bottom: 14rpx;
}

.my-16 {
  margin-top: 16rpx;
  margin-bottom: 16rpx;
}

.my-18 {
  margin-top: 18rpx;
  margin-bottom: 18rpx;
}

.my-2 {
  margin-top: 2rpx;
  margin-bottom: 2rpx;
}

.my-20 {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
}

.my-22 {
  margin-top: 22rpx;
  margin-bottom: 22rpx;
}

.my-24 {
  margin-top: 24rpx;
  margin-bottom: 24rpx;
}

.my-26 {
  margin-top: 26rpx;
  margin-bottom: 26rpx;
}

.my-28 {
  margin-top: 28rpx;
  margin-bottom: 28rpx;
}

.my-30 {
  margin-top: 30rpx;
  margin-bottom: 30rpx;
}

.my-32 {
  margin-top: 32rpx;
  margin-bottom: 32rpx;
}

.my-34 {
  margin-top: 34rpx;
  margin-bottom: 34rpx;
}

.my-36 {
  margin-top: 36rpx;
  margin-bottom: 36rpx;
}

.my-38 {
  margin-top: 38rpx;
  margin-bottom: 38rpx;
}

.my-4 {
  margin-top: 4rpx;
  margin-bottom: 4rpx;
}

.my-40 {
  margin-top: 40rpx;
  margin-bottom: 40rpx;
}

.my-6 {
  margin-top: 6rpx;
  margin-bottom: 6rpx;
}

.my-8 {
  margin-top: 8rpx;
  margin-bottom: 8rpx;
}

.mt-10 {
  margin-top: 10rpx;
}

.mt-20 {
  margin-top: 20rpx;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.line-clamp-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.line-clamp-6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.line-clamp-none {
  overflow: visible;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.hidden {
  display: none;
}

.size-0 {
  width: 0rpx;
  height: 0rpx;
}

.size-10 {
  width: 10rpx;
  height: 10rpx;
}

.size-12 {
  width: 12rpx;
  height: 12rpx;
}

.size-14 {
  width: 14rpx;
  height: 14rpx;
}

.size-16 {
  width: 16rpx;
  height: 16rpx;
}

.size-18 {
  width: 18rpx;
  height: 18rpx;
}

.size-2 {
  width: 2rpx;
  height: 2rpx;
}

.size-20 {
  width: 20rpx;
  height: 20rpx;
}

.size-22 {
  width: 22rpx;
  height: 22rpx;
}

.size-24 {
  width: 24rpx;
  height: 24rpx;
}

.size-26 {
  width: 26rpx;
  height: 26rpx;
}

.size-28 {
  width: 28rpx;
  height: 28rpx;
}

.size-30 {
  width: 30rpx;
  height: 30rpx;
}

.size-32 {
  width: 32rpx;
  height: 32rpx;
}

.size-34 {
  width: 34rpx;
  height: 34rpx;
}

.size-36 {
  width: 36rpx;
  height: 36rpx;
}

.size-38 {
  width: 38rpx;
  height: 38rpx;
}

.size-4 {
  width: 4rpx;
  height: 4rpx;
}

.size-40 {
  width: 40rpx;
  height: 40rpx;
}

.size-6 {
  width: 6rpx;
  height: 6rpx;
}

.size-8 {
  width: 8rpx;
  height: 8rpx;
}

.h-full {
  height: 100%;
}

.max-h-0 {
  max-height: 0rpx;
}

.max-h-10 {
  max-height: 10rpx;
}

.max-h-12 {
  max-height: 12rpx;
}

.max-h-14 {
  max-height: 14rpx;
}

.max-h-16 {
  max-height: 16rpx;
}

.max-h-18 {
  max-height: 18rpx;
}

.max-h-2 {
  max-height: 2rpx;
}

.max-h-20 {
  max-height: 20rpx;
}

.max-h-22 {
  max-height: 22rpx;
}

.max-h-24 {
  max-height: 24rpx;
}

.max-h-26 {
  max-height: 26rpx;
}

.max-h-28 {
  max-height: 28rpx;
}

.max-h-30 {
  max-height: 30rpx;
}

.max-h-32 {
  max-height: 32rpx;
}

.max-h-34 {
  max-height: 34rpx;
}

.max-h-36 {
  max-height: 36rpx;
}

.max-h-38 {
  max-height: 38rpx;
}

.max-h-4 {
  max-height: 4rpx;
}

.max-h-40 {
  max-height: 40rpx;
}

.max-h-6 {
  max-height: 6rpx;
}

.max-h-8 {
  max-height: 8rpx;
}

.min-h-0 {
  min-height: 0rpx;
}

.min-h-10 {
  min-height: 10rpx;
}

.min-h-12 {
  min-height: 12rpx;
}

.min-h-14 {
  min-height: 14rpx;
}

.min-h-16 {
  min-height: 16rpx;
}

.min-h-18 {
  min-height: 18rpx;
}

.min-h-2 {
  min-height: 2rpx;
}

.min-h-20 {
  min-height: 20rpx;
}

.min-h-22 {
  min-height: 22rpx;
}

.min-h-24 {
  min-height: 24rpx;
}

.min-h-26 {
  min-height: 26rpx;
}

.min-h-28 {
  min-height: 28rpx;
}

.min-h-30 {
  min-height: 30rpx;
}

.min-h-32 {
  min-height: 32rpx;
}

.min-h-34 {
  min-height: 34rpx;
}

.min-h-36 {
  min-height: 36rpx;
}

.min-h-38 {
  min-height: 38rpx;
}

.min-h-4 {
  min-height: 4rpx;
}

.min-h-40 {
  min-height: 40rpx;
}

.min-h-6 {
  min-height: 6rpx;
}

.min-h-8 {
  min-height: 8rpx;
}

.w-full {
  width: 100%;
}

.min-w-0 {
  min-width: 0rpx;
}

.min-w-10 {
  min-width: 10rpx;
}

.min-w-12 {
  min-width: 12rpx;
}

.min-w-14 {
  min-width: 14rpx;
}

.min-w-16 {
  min-width: 16rpx;
}

.min-w-18 {
  min-width: 18rpx;
}

.min-w-2 {
  min-width: 2rpx;
}

.min-w-20 {
  min-width: 20rpx;
}

.min-w-22 {
  min-width: 22rpx;
}

.min-w-24 {
  min-width: 24rpx;
}

.min-w-26 {
  min-width: 26rpx;
}

.min-w-28 {
  min-width: 28rpx;
}

.min-w-30 {
  min-width: 30rpx;
}

.min-w-32 {
  min-width: 32rpx;
}

.min-w-34 {
  min-width: 34rpx;
}

.min-w-36 {
  min-width: 36rpx;
}

.min-w-38 {
  min-width: 38rpx;
}

.min-w-4 {
  min-width: 4rpx;
}

.min-w-40 {
  min-width: 40rpx;
}

.min-w-6 {
  min-width: 6rpx;
}

.min-w-8 {
  min-width: 8rpx;
}

.max-w-0 {
  max-width: 0rpx;
}

.max-w-10 {
  max-width: 10rpx;
}

.max-w-12 {
  max-width: 12rpx;
}

.max-w-14 {
  max-width: 14rpx;
}

.max-w-16 {
  max-width: 16rpx;
}

.max-w-18 {
  max-width: 18rpx;
}

.max-w-2 {
  max-width: 2rpx;
}

.max-w-20 {
  max-width: 20rpx;
}

.max-w-22 {
  max-width: 22rpx;
}

.max-w-24 {
  max-width: 24rpx;
}

.max-w-26 {
  max-width: 26rpx;
}

.max-w-28 {
  max-width: 28rpx;
}

.max-w-30 {
  max-width: 30rpx;
}

.max-w-32 {
  max-width: 32rpx;
}

.max-w-34 {
  max-width: 34rpx;
}

.max-w-36 {
  max-width: 36rpx;
}

.max-w-38 {
  max-width: 38rpx;
}

.max-w-4 {
  max-width: 4rpx;
}

.max-w-40 {
  max-width: 40rpx;
}

.max-w-6 {
  max-width: 6rpx;
}

.max-w-8 {
  max-width: 8rpx;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.shrink {
  flex-shrink: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.flex-grow {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.grow {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.columns-1 {
  -moz-columns: 1;
  columns: 1;
}

.columns-10 {
  -moz-columns: 10;
  columns: 10;
}

.columns-11 {
  -moz-columns: 11;
  columns: 11;
}

.columns-12 {
  -moz-columns: 12;
  columns: 12;
}

.columns-2 {
  -moz-columns: 2;
  columns: 2;
}

.columns-2xl {
  -moz-columns: 42rem;
  columns: 42rem;
}

.columns-2xs {
  -moz-columns: 18rem;
  columns: 18rem;
}

.columns-3 {
  -moz-columns: 3;
  columns: 3;
}

.columns-3xl {
  -moz-columns: 48rem;
  columns: 48rem;
}

.columns-3xs {
  -moz-columns: 16rem;
  columns: 16rem;
}

.columns-4 {
  -moz-columns: 4;
  columns: 4;
}

.columns-4xl {
  -moz-columns: 56rem;
  columns: 56rem;
}

.columns-5 {
  -moz-columns: 5;
  columns: 5;
}

.columns-5xl {
  -moz-columns: 64rem;
  columns: 64rem;
}

.columns-6 {
  -moz-columns: 6;
  columns: 6;
}

.columns-6xl {
  -moz-columns: 72rem;
  columns: 72rem;
}

.columns-7 {
  -moz-columns: 7;
  columns: 7;
}

.columns-7xl {
  -moz-columns: 80rem;
  columns: 80rem;
}

.columns-8 {
  -moz-columns: 8;
  columns: 8;
}

.columns-9 {
  -moz-columns: 9;
  columns: 9;
}

.columns-auto {
  -moz-columns: auto;
  columns: auto;
}

.columns-lg {
  -moz-columns: 32rem;
  columns: 32rem;
}

.columns-md {
  -moz-columns: 28rem;
  columns: 28rem;
}

.columns-sm {
  -moz-columns: 24rem;
  columns: 24rem;
}

.columns-xl {
  -moz-columns: 36rem;
  columns: 36rem;
}

.columns-xs {
  -moz-columns: 20rem;
  columns: 20rem;
}

.auto-cols-auto {
  grid-auto-columns: auto;
}

.auto-cols-fr {
  grid-auto-columns: minmax(0, 1fr);
}

.auto-cols-max {
  grid-auto-columns: max-content;
}

.auto-cols-min {
  grid-auto-columns: min-content;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-dense {
  grid-auto-flow: dense;
}

.grid-flow-row-dense {
  grid-auto-flow: row dense;
}

.grid-flow-col-dense {
  grid-auto-flow: column dense;
}

.auto-rows-auto {
  grid-auto-rows: auto;
}

.auto-rows-fr {
  grid-auto-rows: minmax(0, 1fr);
}

.auto-rows-max {
  grid-auto-rows: max-content;
}

.auto-rows-min {
  grid-auto-rows: min-content;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-none {
  grid-template-columns: none;
}

.grid-cols-subgrid {
  grid-template-columns: subgrid;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-10 {
  grid-template-rows: repeat(10, minmax(0, 1fr));
}

.grid-rows-11 {
  grid-template-rows: repeat(11, minmax(0, 1fr));
}

.grid-rows-12 {
  grid-template-rows: repeat(12, minmax(0, 1fr));
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.grid-rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr));
}

.grid-rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}

.grid-rows-7 {
  grid-template-rows: repeat(7, minmax(0, 1fr));
}

.grid-rows-8 {
  grid-template-rows: repeat(8, minmax(0, 1fr));
}

.grid-rows-9 {
  grid-template-rows: repeat(9, minmax(0, 1fr));
}

.grid-rows-none {
  grid-template-rows: none;
}

.grid-rows-subgrid {
  grid-template-rows: subgrid;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.place-content-center {
  place-content: center;
}

.place-content-start {
  place-content: start;
}

.place-content-end {
  place-content: end;
}

.place-content-between {
  place-content: space-between;
}

.place-content-around {
  place-content: space-around;
}

.place-content-evenly {
  place-content: space-evenly;
}

.place-content-baseline {
  place-content: baseline;
}

.place-content-stretch {
  place-content: stretch;
}

.place-items-start {
  place-items: start;
}

.place-items-end {
  place-items: end;
}

.place-items-center {
  place-items: center;
}

.place-items-baseline {
  place-items: baseline;
}

.place-items-stretch {
  place-items: stretch;
}

.content-normal {
  align-content: normal;
}

.content-center {
  align-content: center;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.content-evenly {
  align-content: space-evenly;
}

.content-baseline {
  align-content: baseline;
}

.content-stretch {
  align-content: stretch;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.flex {
  display: flex;
}
.justify-normal {
  justify-content: normal;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-0 {
  gap: 0rpx;
}

.gap-10 {
  gap: 10rpx;
}

.gap-12 {
  gap: 12rpx;
}

.gap-14 {
  gap: 14rpx;
}

.gap-16 {
  gap: 16rpx;
}

.gap-18 {
  gap: 18rpx;
}

.gap-2 {
  gap: 2rpx;
}

.gap-20 {
  gap: 20rpx;
}

.gap-22 {
  gap: 22rpx;
}

.gap-24 {
  gap: 24rpx;
}

.gap-26 {
  gap: 26rpx;
}

.gap-28 {
  gap: 28rpx;
}

.gap-30 {
  gap: 30rpx;
}

.gap-32 {
  gap: 32rpx;
}

.gap-34 {
  gap: 34rpx;
}

.gap-36 {
  gap: 36rpx;
}

.gap-38 {
  gap: 38rpx;
}

.gap-4 {
  gap: 4rpx;
}

.gap-40 {
  gap: 40rpx;
}

.gap-6 {
  gap: 6rpx;
}

.gap-8 {
  gap: 8rpx;
}

.gap-x-0 {
  -moz-column-gap: 0rpx;
  column-gap: 0rpx;
}

.gap-x-10 {
  -moz-column-gap: 10rpx;
  column-gap: 10rpx;
}

.gap-x-12 {
  -moz-column-gap: 12rpx;
  column-gap: 12rpx;
}

.gap-x-14 {
  -moz-column-gap: 14rpx;
  column-gap: 14rpx;
}

.gap-x-16 {
  -moz-column-gap: 16rpx;
  column-gap: 16rpx;
}

.gap-x-18 {
  -moz-column-gap: 18rpx;
  column-gap: 18rpx;
}

.gap-x-2 {
  -moz-column-gap: 2rpx;
  column-gap: 2rpx;
}

.gap-x-20 {
  -moz-column-gap: 20rpx;
  column-gap: 20rpx;
}

.gap-x-22 {
  -moz-column-gap: 22rpx;
  column-gap: 22rpx;
}

.gap-x-24 {
  -moz-column-gap: 24rpx;
  column-gap: 24rpx;
}

.gap-x-26 {
  -moz-column-gap: 26rpx;
  column-gap: 26rpx;
}

.gap-x-28 {
  -moz-column-gap: 28rpx;
  column-gap: 28rpx;
}

.gap-x-30 {
  -moz-column-gap: 30rpx;
  column-gap: 30rpx;
}

.gap-x-32 {
  -moz-column-gap: 32rpx;
  column-gap: 32rpx;
}

.gap-x-34 {
  -moz-column-gap: 34rpx;
  column-gap: 34rpx;
}

.gap-x-36 {
  -moz-column-gap: 36rpx;
  column-gap: 36rpx;
}

.gap-x-38 {
  -moz-column-gap: 38rpx;
  column-gap: 38rpx;
}

.gap-x-4 {
  -moz-column-gap: 4rpx;
  column-gap: 4rpx;
}

.gap-x-40 {
  -moz-column-gap: 40rpx;
  column-gap: 40rpx;
}

.gap-x-6 {
  -moz-column-gap: 6rpx;
  column-gap: 6rpx;
}

.gap-x-8 {
  -moz-column-gap: 8rpx;
  column-gap: 8rpx;
}

.gap-y-0 {
  row-gap: 0rpx;
}

.gap-y-10 {
  row-gap: 10rpx;
}

.gap-y-12 {
  row-gap: 12rpx;
}

.gap-y-14 {
  row-gap: 14rpx;
}

.gap-y-16 {
  row-gap: 16rpx;
}

.gap-y-18 {
  row-gap: 18rpx;
}

.gap-y-2 {
  row-gap: 2rpx;
}

.gap-y-20 {
  row-gap: 20rpx;
}

.gap-y-22 {
  row-gap: 22rpx;
}

.gap-y-24 {
  row-gap: 24rpx;
}

.gap-y-26 {
  row-gap: 26rpx;
}

.gap-y-28 {
  row-gap: 28rpx;
}

.gap-y-30 {
  row-gap: 30rpx;
}

.gap-y-32 {
  row-gap: 32rpx;
}

.gap-y-34 {
  row-gap: 34rpx;
}

.gap-y-36 {
  row-gap: 36rpx;
}

.gap-y-38 {
  row-gap: 38rpx;
}

.gap-y-4 {
  row-gap: 4rpx;
}

.gap-y-40 {
  row-gap: 40rpx;
}

.gap-y-6 {
  row-gap: 6rpx;
}

.gap-y-8 {
  row-gap: 8rpx;
}

.place-self-auto {
  place-self: auto;
}

.place-self-start {
  place-self: start;
}

.place-self-end {
  place-self: end;
}

.place-self-center {
  place-self: center;
}

.place-self-stretch {
  place-self: stretch;
}

.self-auto {
  align-self: auto;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}

.self-baseline {
  align-self: baseline;
}

.justify-self-auto {
  justify-self: auto;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-stretch {
  justify-self: stretch;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-clip {
  overflow: clip;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-clip {
  overflow-x: clip;
}

.overflow-y-clip {
  overflow-y: clip;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-visible {
  overflow-y: visible;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.text-wrap {
  text-wrap: wrap;
}

.text-nowrap {
  text-wrap: nowrap;
}

.text-balance {
  text-wrap: balance;
}

.text-pretty {
  text-wrap: pretty;
}

.border-black-1 {
  --tw-border-opacity: 1;
  border-color: rgb(85 85 85 / var(--tw-border-opacity));
}

.border-black-2 {
  --tw-border-opacity: 1;
  border-color: rgb(153 153 153 / var(--tw-border-opacity));
}

.border-black-3 {
  --tw-border-opacity: 1;
  border-color: rgb(188 188 188 / var(--tw-border-opacity));
}

.border-blue {
  --tw-border-opacity: 1;
  border-color: rgb(86 130 234 / var(--tw-border-opacity));
}

.border-brown {
  --tw-border-opacity: 1;
  border-color: rgb(205 117 69 / var(--tw-border-opacity));
}

.border-gray {
  --tw-border-opacity: 1;
  border-color: rgb(244 244 244 / var(--tw-border-opacity));
}

.border-green {
  --tw-border-opacity: 1;
  border-color: rgb(90 196 96 / var(--tw-border-opacity));
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(255 77 106 / var(--tw-border-opacity));
}

.border-purple {
  --tw-border-opacity: 1;
  border-color: rgb(196 42 231 / var(--tw-border-opacity));
}

.border-success {
  --tw-border-opacity: 1;
  border-color: rgb(90 196 96 / var(--tw-border-opacity));
}

.border-yellow {
  --tw-border-opacity: 1;
  border-color: rgb(255 188 30 / var(--tw-border-opacity));
}

.bg-black-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(85 85 85 / var(--tw-bg-opacity));
}

.bg-black-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(153 153 153 / var(--tw-bg-opacity));
}

.bg-black-3 {
  --tw-bg-opacity: 1;
  background-color: rgb(188 188 188 / var(--tw-bg-opacity));
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(86 130 234 / var(--tw-bg-opacity));
}

.bg-brown {
  --tw-bg-opacity: 1;
  background-color: rgb(205 117 69 / var(--tw-bg-opacity));
}

.bg-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 244 / var(--tw-bg-opacity));
}

.bg-green {
  --tw-bg-opacity: 1;
  background-color: rgb(90 196 96 / var(--tw-bg-opacity));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 77 106 / var(--tw-bg-opacity));
}

.bg-purple {
  --tw-bg-opacity: 1;
  background-color: rgb(196 42 231 / var(--tw-bg-opacity));
}

.bg-success {
  --tw-bg-opacity: 1;
  background-color: rgb(90 196 96 / var(--tw-bg-opacity));
}

.bg-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(255 188 30 / var(--tw-bg-opacity));
}

.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.object-fill {
  -o-object-fit: fill;
  object-fit: fill;
}

.object-none {
  -o-object-fit: none;
  object-fit: none;
}

.object-scale-down {
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.object-bottom {
  -o-object-position: bottom;
  object-position: bottom;
}

.object-center {
  -o-object-position: center;
  object-position: center;
}

.object-left {
  -o-object-position: left;
  object-position: left;
}

.object-left-bottom {
  -o-object-position: left bottom;
  object-position: left bottom;
}

.object-left-top {
  -o-object-position: left top;
  object-position: left top;
}

.object-right {
  -o-object-position: right;
  object-position: right;
}

.object-right-bottom {
  -o-object-position: right bottom;
  object-position: right bottom;
}

.object-right-top {
  -o-object-position: right top;
  object-position: right top;
}

.object-top {
  -o-object-position: top;
  object-position: top;
}

.p-0 {
  padding: 0rpx;
}

.p-10 {
  padding: 10rpx;
}

.p-12 {
  padding: 12rpx;
}

.p-14 {
  padding: 14rpx;
}

.p-16 {
  padding: 16rpx;
}

.p-18 {
  padding: 18rpx;
}

.p-2 {
  padding: 2rpx;
}

.p-20 {
  padding: 20rpx;
}

.p-22 {
  padding: 22rpx;
}

.p-24 {
  padding: 24rpx;
}

.p-26 {
  padding: 26rpx;
}

.p-28 {
  padding: 28rpx;
}

.p-30 {
  padding: 30rpx;
}

.p-32 {
  padding: 32rpx;
}

.p-34 {
  padding: 34rpx;
}

.p-36 {
  padding: 36rpx;
}

.p-38 {
  padding: 38rpx;
}

.p-4 {
  padding: 4rpx;
}

.p-40 {
  padding: 40rpx;
}

.p-6 {
  padding: 6rpx;
}

.p-8 {
  padding: 8rpx;
}

.px-0 {
  padding-left: 0rpx;
  padding-right: 0rpx;
}

.px-10 {
  padding-left: 10rpx;
  padding-right: 10rpx;
}

.px-12 {
  padding-left: 12rpx;
  padding-right: 12rpx;
}

.px-14 {
  padding-left: 14rpx;
  padding-right: 14rpx;
}

.px-16 {
  padding-left: 16rpx;
  padding-right: 16rpx;
}

.px-18 {
  padding-left: 18rpx;
  padding-right: 18rpx;
}

.px-2 {
  padding-left: 2rpx;
  padding-right: 2rpx;
}

.px-20 {
  padding-left: 20rpx;
  padding-right: 20rpx;
}

.px-22 {
  padding-left: 22rpx;
  padding-right: 22rpx;
}

.px-24 {
  padding-left: 24rpx;
  padding-right: 24rpx;
}

.px-26 {
  padding-left: 26rpx;
  padding-right: 26rpx;
}

.px-28 {
  padding-left: 28rpx;
  padding-right: 28rpx;
}

.px-30 {
  padding-left: 30rpx;
  padding-right: 30rpx;
}

.px-32 {
  padding-left: 32rpx;
  padding-right: 32rpx;
}

.px-34 {
  padding-left: 34rpx;
  padding-right: 34rpx;
}

.px-36 {
  padding-left: 36rpx;
  padding-right: 36rpx;
}

.px-38 {
  padding-left: 38rpx;
  padding-right: 38rpx;
}

.px-4 {
  padding-left: 4rpx;
  padding-right: 4rpx;
}

.px-40 {
  padding-left: 40rpx;
  padding-right: 40rpx;
}

.px-6 {
  padding-left: 6rpx;
  padding-right: 6rpx;
}

.px-8 {
  padding-left: 8rpx;
  padding-right: 8rpx;
}

.py-0 {
  padding-top: 0rpx;
  padding-bottom: 0rpx;
}

.py-10 {
  padding-top: 10rpx;
  padding-bottom: 10rpx;
}

.py-12 {
  padding-top: 12rpx;
  padding-bottom: 12rpx;
}

.py-14 {
  padding-top: 14rpx;
  padding-bottom: 14rpx;
}

.py-16 {
  padding-top: 16rpx;
  padding-bottom: 16rpx;
}

.py-18 {
  padding-top: 18rpx;
  padding-bottom: 18rpx;
}

.py-2 {
  padding-top: 2rpx;
  padding-bottom: 2rpx;
}

.py-20 {
  padding-top: 20rpx;
  padding-bottom: 20rpx;
}

.py-22 {
  padding-top: 22rpx;
  padding-bottom: 22rpx;
}

.py-24 {
  padding-top: 24rpx;
  padding-bottom: 24rpx;
}

.py-26 {
  padding-top: 26rpx;
  padding-bottom: 26rpx;
}

.py-28 {
  padding-top: 28rpx;
  padding-bottom: 28rpx;
}

.py-30 {
  padding-top: 30rpx;
  padding-bottom: 30rpx;
}

.py-32 {
  padding-top: 32rpx;
  padding-bottom: 32rpx;
}

.py-34 {
  padding-top: 34rpx;
  padding-bottom: 34rpx;
}

.py-36 {
  padding-top: 36rpx;
  padding-bottom: 36rpx;
}

.py-38 {
  padding-top: 38rpx;
  padding-bottom: 38rpx;
}

.py-4 {
  padding-top: 4rpx;
  padding-bottom: 4rpx;
}

.py-40 {
  padding-top: 40rpx;
  padding-bottom: 40rpx;
}

.py-6 {
  padding-top: 6rpx;
  padding-bottom: 6rpx;
}

.py-8 {
  padding-top: 8rpx;
  padding-bottom: 8rpx;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-default {
  font-size: 34rpx;
}

.text-large {
  font-size: 48rpx;
}

.text-medium {
  font-size: 28rpx;
}

.text-mini {
  font-size: 20rpx;
}

.text-small {
  font-size: 24rpx;
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-thin {
  font-weight: 100;
}

.text-black-1 {
  --tw-text-opacity: 1;
  color: rgb(85 85 85 / var(--tw-text-opacity));
}

.text-black-2 {
  --tw-text-opacity: 1;
  color: rgb(153 153 153 / var(--tw-text-opacity));
}

.text-black-3 {
  --tw-text-opacity: 1;
  color: rgb(188 188 188 / var(--tw-text-opacity));
}

.text-blue {
  --tw-text-opacity: 1;
  color: rgb(86 130 234 / var(--tw-text-opacity));
}

.text-brown {
  --tw-text-opacity: 1;
  color: rgb(205 117 69 / var(--tw-text-opacity));
}

.text-gray {
  --tw-text-opacity: 1;
  color: rgb(244 244 244 / var(--tw-text-opacity));
}

.text-green {
  --tw-text-opacity: 1;
  color: rgb(90 196 96 / var(--tw-text-opacity));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(255 77 106 / var(--tw-text-opacity));
}

.text-purple {
  --tw-text-opacity: 1;
  color: rgb(196 42 231 / var(--tw-text-opacity));
}

.text-success {
  --tw-text-opacity: 1;
  color: rgb(90 196 96 / var(--tw-text-opacity));
}

.text-yellow {
  --tw-text-opacity: 1;
  color: rgb(255 188 30 / var(--tw-text-opacity));
}

.opacity-0 {
  opacity: 0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-100 {
  opacity: 1;
}

.opacity-15 {
  opacity: 0.15;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-35 {
  opacity: 0.35;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-45 {
  opacity: 0.45;
}

.opacity-5 {
  opacity: 0.05;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-55 {
  opacity: 0.55;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-65 {
  opacity: 0.65;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-85 {
  opacity: 0.85;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-95 {
  opacity: 0.95;
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-inner {
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-none {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.content-none {
  --tw-content: none;
  content: var(--tw-content);
}

.list-data-wrapper {
  padding: 20rpx 32rpx 0;
}

.list-data-item + .list-data-item {
  margin-top: 20rpx;
}
